<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>project</title>
	
    <link rel="stylesheet" type="text/css" href="css/nav.css" charset="utf-8">
    <link rel="stylesheet" type="text/css" href="font/iconfont.css">
	<link rel="stylesheet" href="css/application.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="css/table.css" type="text/css" charset="utf-8">
	
	
</head>
<script type="text/template" id="tpl-table">
	<a download="下载表格" href="#DownLoad" id="excelOut"><span>下载表格</span></a>
	<table class='table' border='0' cellspacing='0' cellpadding='0' align='center' id="tab">
		<thead>
		<tr>
			<td><%= col0 %></td>
			<td><%= col1 %></td>
			<td><%= col2 %></td>
			<td><%= col3 %></td>
			<td><%= col4 %></td>
			<td><%= col5 %></td>
			<td><%= col6 %></td>
		</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</script>
<body>
    <div class="nav">
        <div class="nav-top">
            <div id="mini" style="border-bottom:1px solid rgba(255,255,255,.1)"><img src="images/mini.png" ></div>
        </div>
        <ul>
            <li class="nav-item">
                <a href="#EditTable"><i class="my-icon nav-icon icon_1"></i><span>编辑表格</span><i class="my-icon nav-more"></i></a>

            </li>

            <li class="nav-item">
                <a href="javascript:;"><i class="my-icon nav-icon icon_3"></i><span>更多功能</span><i class="my-icon nav-more"></i></a>
            </li>
        </ul>
    </div>
	<div id="content">

	</div>
</body>
	<script src="js/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/underscore.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/backbone.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/lib/backbone-localstorage.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/view/tableView.js" type="text/javascript" charset="utf-8"></script>  
	<script src="js/view/downloadView.js" type="text/javascript" charset="utf-8"></script> 	
    <script type="text/javascript" src="js/nav.js"></script>
</html>


